<div class="container-fluid">

     <div class="d-sm-flex align-items-center justify-content-between mt-5 mb-4">
          <div class="card mr-2 ml-2 mb-4 cardfree">
               <div class="card-body">
                    <img class="align-items-center" src="assets/img/plan/cards/3.jpg" style="max-width: 100%" alt="" />
                    <h4 class="card-title white fontone mt-3" style="align-content: center">
                         FREE
                    </h4>
                    <p class="white fontone"> $0</p>
                    <p class="card-text fonttwo">
                         For free you can: <br>
                         • Use code editor <br>
                         • Storage 3 projects
                    </p>
                    <a href="signUp" class="btn white fonttwo butfree" >Signup Free</a>
               </div>
          </div>
          <div class="card mr-2 ml-2 mb-4 cardgold">
               <div class="card-body">
                    <img class="align-items-center" src="assets/img/plan/cards/6.jpg" style="max-width: 100%" alt="" />
                    <h4 class="card-title white fontone mt-3" style="align-content: center">
                         GOLD
                    </h4>
                    <p class="white fontone"> $5</p>

                    <p class="card-text fonttwo">

                         Golden membership: <br>
                         • Use code editor <br>
                         • Storage 10 projects <br>
                         • Share your work

                    </p>
                    <a href="signUpGold" class="btn white fonttwo butgold">Signup Gold</a>
               </div>
          </div>
          <div class="card mr-2 ml-2 mb-4 cardplatinum">
               <div class="card-body">
                    <img class="align-items-center" src="assets/img/plan/cards/12.jpg" style="max-width: 100%" alt="" />
                    <h4 class="card-title white fontone mt-3" style="align-content: center">
                         PLATINUM
                    </h4>

                    <p class="white fontone"> $10</p>

                    <p class="card-text fonttwo">

                         Platinum memebership: <br>
                         • Use code editor <br>
                         • Storage unlimited projects <br>
                         • Share your work <br>
                         • Projects Offline

                    </p>

                    <a href="signUpPlatinum" class="btn white fonttwo butplat">Signup Platinum</a>
               </div>
          </div>

     </div>
</div>