<nav class="navbar navbar-expand   topbar  static-top shadow"
style="background-color:#2C303A;">

<!-- Sidebar Toggle (Topbar) -->


<!-- Topbar Search -->
<div class="d-none d-sm-inline-block  mr-auto ml-md-3 my-2 my-md-0 mw-100 ">
    <div class="input-group ">
       <a href="#"> <img class="ml-3" src="assets/img/Logo Systems Ipsum (Blanco)2.png" style="width:60%;" alt=""> </a>
    </div>
</div>

<!-- Topbar Navbar -->
<div class="navbar-nav ml-auto">

   <a class="icono" href=""> <i class="far fa-user fa-2x mr-3"></i> </a>


</div>

</nav>
