<nav class="navbar navbar-expand   topbar static-top shadow" style="background-color:#2C303A;">


     <!-- Topbar Search -->
     <div class="d-none d-sm-inline-block  mr-auto ml-md-3 my-2 my-md-0 mw-100 ">
          <div class="input-group ml-4">
               <a href="#"><img src="assets/img/Logo Systems Ipsum (Blanco)2.png" style="width:60%;" alt=""></a>

          </div>
     </div>

     <!-- Topbar Navbar -->
     <div class=" navbar-nav navbar-expand-md  fixed-top">

          <!-- Nav Item - Search Dropdown (Visible Only XS) -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
               aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
          </button>


          <!-- Dropdown - Messages -->
          <div class="collapse navbar-collapse">
               <p class="white fonttwo mt-3 mr-4 my-2 my-lg-0 ml-auto">Do you have an account?</p>
               <button type="button" onclick="location.href='login'"
                    class="btn my-2 my-sm-0 mt-2 mb-2 butlog fonttwo ">Log
                    In</button>

          </div>


     </div>

</nav>