<div class="divuno"  style="background-image:url('assets/img/index/12.png'); background-size: cover;  ">
    
     <div>
          <h1 class="text fontone white mb-3">Do you want to join us?</h1>
          <br>
          <h1 class="text fonttwo mb-3">Be part of our family! Take a look to our plans and find the perfect match to your needs.
          </h1> 
          <br>
          <div class="text-center">
               <a href="#" class="btn btn-plan">Center align</a>
           </div>
     </div>
    
</div>
