<title>{{ title }}</title>
<div id="wrapper">
     <!-- Content Wrapper -->
     <div id="content-wrapper" class="d-flex flex-column" style="background-color: #131417;">
          <!-- Main Content -->
          <app-top-bar-plan></app-top-bar-plan>
          <div class="container-fluid">
               <h2 class="white fontone mt-5">FREE it’s good but PRO it’s better</h2>
               <p class="fonttwo">Systems Ipsum offers you 3 subscription with different features that ajust to your
                    needs. Take a look to them!</p>
          </div>
          <app-cards-plan></app-cards-plan>
          <app-footer></app-footer>

     </div>
</div>