<title>{{ title }}</title>


<!-- Page Wrapper -->
<div id="wrapper">

     <!-- Content Wrapper -->
     <div id="content-wrapper" class="d-flex flex-column" style="background-color: #131417;">

          <!-- Main Content -->
          <div id="content">

               <!-- Topbar -->
               <app-top-bar></app-top-bar>
               <!-- End of Topbar -->

               <!-- Begin Page Content -->
               <br>
               <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                         <div>

                              <h1 class="fontone white title">It's time to code!</h1>
                              <h3 class="fontone">Systems Ipsum got your back.</h3>
                              <h4 class="fonttwo"> Our platform it's the best place to work and improve your coding
                                   skills.</h4>

                         </div>
                         <img class="d-none d-md-block" src="assets/img/index/4.png" style="width: 40%; " alt="">

                    </div>


                    <br>
                    <!-- Content Row -->
                    <app-cardsindex></app-cardsindex>

                    <br>
                    <!-- /.container-fluid -->
                    <h1 class="fontone white ">Why Systems Ipsum?</h1>
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                         <div>
                              <h3 class="fontone">Systems Ipsum got your back.</h3>
                              <h4 class="fonttwo"> Our platform it's the best place to work and improve your coding
                                   skills.</h4>

                         </div>
                         <img src="assets/img/index/2.png" style="width: 35%; " alt="">

                    </div>

                    <div class="d-sm-flex align-items-center justify-content-between mt-4">
                         <div>
                              <h2 class="fontone white mt-10">About Us</h2>
                              <p class="fonttwo">Systems Ipsum is a platform made by and
                                   for
                                   programmers that helps you structure, code and visualize your projects.
                                   Founded in 2021, our platform was designed to make project management easier and
                                   more
                                   practical for our users.
                                   We not only offer a code editor, syntax highlighting and creating snippets,
                                   but also an environment where our users can store and share their work. also,
                                   thinking about accessibility to internet networks, we designed an offline
                                   project
                                   system where you can access these at any time,
                                   place and circumstance.</p>
                         </div>
                    </div>

                    <br>
                    <br>
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                         <div class="card "
                              style=" background-color: #1E1F26; border-color: #E93A90; border-width: 0.2em; height: 30rem;">
                              <div class="card-body">
                                   <h4 class="card-title fontone" style="align-content:center;">FREE</h4>
                                   <img class="align-items-center" src="img/1.png" style="max-width: 200%;" alt="">
                                   <h5 class="fonttwo">$0 </h5>

                                   <p class="card-text fonttwo" style="color: cornsilk;">For free you can: <br>
                                        Use code editor <br>
                                        Storage 3 projects</p>

                              </div>
                         </div>
                         <div class="card mr-3"
                              style=" background-color: #1E1F26; border-color: #AFF53D; border-width: 0.2em; height: 30rem;">
                              <div class="card-body">
                                   <h4 class="card-title fontone" style="align-content:center;">GOLDEN</h4>
                                   <img class="align-items-center" src="img/4.png" style="max-width: 200%;" sizes=64X
                                        alt="">
                                   <h5 class="fonttwo">$5 </h5>

                                   <p class="card-text fonttwo" style="color: cornsilk;">Golden membership: <br>
                                        Use code editor <br>
                                        Storage 10 projects <br>
                                        Share your work</p>
                              </div>
                         </div>
                         <div class="card mr-3"
                              style=" background-color: #1E1F26; border-color: #A93CD4; border-width: 0.2em ;height: 30rem;">
                              <div class="card-body">
                                   <h4 class="card-title fontone" style="align-content:center;">PLATINUM</h4>
                                   <img class="align-items-center" src="img/3.png" style="max-width: 200%;" alt="">
                                   <h5 class="fonttwo">$10 </h5>
                                   <p class="card-text fonttwo" style="color: cornsilk;">Platinum memebership: <br>
                                        Use code editor <br>
                                        Storage unlimited projects <br>
                                        Share your work <br>
                                        Projects Offline</p>
                              </div>
                         </div>


                    </div>


               </div>
               <!-- End of Main Content -->

               <!-- Footer -->
               <app-footer></app-footer>
               <!-- End of Footer -->

          </div>
          <!-- End of Content Wrapper -->

     </div>