<title>{{ title }}</title>

<!-- Page Wrapper -->
<div id="wrapper">
     <!-- Content Wrapper -->
     <div id="content-wrapper" class="d-flex flex-column" style="background-color: #131417">
          <!-- Main Content -->
          <div id="content">
               <!-- Topbar -->
               <app-top-bar></app-top-bar>
               <!-- End of Topbar -->

               <!-- Begin Page Content -->
               <br />
               <div class="container-fluid">
                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                         <div>
                              <h1 class="fontone white title">It's time to code!</h1>
                              <h3 class="fontone">Systems Ipsum got your back.</h3>
                              <h4 class="fonttwo">
                                   Our platform it's the best place to work and improve your coding
                                   skills.
                              </h4>
                         </div>
                         <img class="d-none d-md-block" src="assets/img/index/9.png" style="width: 40%" alt="" />
                    </div>
                    <br />
                    <!-- Content Row -->
                    <app-cardsindex></app-cardsindex>
                    <br />
                    <!-- /.container-fluid -->
                    <app-infoindex></app-infoindex>
                    <br>
                    <app-aboutus></app-aboutus>
                    <br />
                    <br />
               </div>
          </div>
          <!-- End of Main Content -->
          <!-- Footer -->
          <app-footer></app-footer>
          <!-- End of Footer -->
     </div>
     <!-- End of Content Wrapper -->
</div>