<!-- Sidebar -->
<ul class="navbar-nav  sidebar sidebar-dark accordion mb-2" id="accordionSidebar" style="background-color: #2C303A;">
     <br>
     <!-- Sidebar - Brand -->
     <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">

          <button type="button" class="btn btn-outline btn-block mb-4 fonttwo">
               <i class="fas fa-plus-circle"></i>
               New</button>
     </a>

     <!-- Divider -->
     <hr class="sidebar-divider my-0">

     <!-- Nav Item - Dashboard -->
     <li class="nav-item ">
          <a class="nav-link" href="index.html">
               <i class="far fa-user"></i>
               <span class="ml-1 fonttwo">My profile</span></a>
     </li>



     <!-- Nav Item - Pages Collapse Menu -->
     <li class="nav-item ">
          <a class="nav-link" href="index.html">
               <i class="far fa-file"></i>
               <span class="ml-1 fonttwo">My files</span></a>
     </li>

     <li class="nav-item ">
          <a class="nav-link" href="index.html">
               <i class="far fa-folder-open"></i>
               <span class="ml-1 fonttwo"> My folders</span></a>
     </li>

     <li class="nav-item ">
          <a class="nav-link" href="index.html">
               <i class="fas fa-stream"></i>
               <span class="ml-1 fonttwo"> My snippets</span></a>
     </li>

     <li class="nav-item mb-3">
          <a class="nav-link" href="index.html">
               <i class="far fa-share-square"></i>
               <span class="ml-1 fonttwo"> My share</span></a>
     </li>

     <div class="sidebar-card">
          <i class="fas fa-user-astronaut fa-3x" ></i>
          <p class="text-center mb-2 mt-2 fonttwo" style="color: #fff;"><strong>Systems Ipsum Pro</strong> offers you so many beneficts with gold and
               Platinum Plans. Get to know them!</p>
          <a class="btn btn-success btn-sm btn-f fonttwo" onclick="location.href='plan'" >Upgrade to
               Pro!</a>


     </div>
</ul>
<!-- End of Sidebar -->