<!-- Sidebar -->
<ul class="navbar-nav  sidebar sidebar-dark accordion" id="accordionSidebar" style="background-color: #2C303A;">
     <br>
     <!-- Sidebar - Brand -->
     <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">

          <button type="button" class="btn btn-outline btn-block mb-4">
               <i class="fas fa-plus-circle"></i>
               New</button>
     </a>

     <!-- Divider -->
     <hr class="sidebar-divider my-0">

     <!-- Nav Item - Dashboard -->
     <li class="nav-item ">
          <a class="nav-link" href="index.html">
               <i class="far fa-user"></i>
               <span class="ml-1">My profile</span></a>
     </li>

     

     <!-- Nav Item - Pages Collapse Menu -->
     <li class="nav-item ">
          <a class="nav-link" href="index.html" > 
               <i class="far fa-file"></i>
               <span class="ml-1">My files</span></a>
     </li>
   
     <li class="nav-item ">
          <a class="nav-link" href="index.html" > 
               <i class="far fa-folder-open"></i>
               <span class="ml-1">My folders</span></a>
     </li>

     <li class="nav-item ">
          <a class="nav-link" href="index.html" > 
               <i class="fas fa-stream"></i>
               <span class="ml-1">My snippets</span></a>
     </li>
     
     <li class="nav-item ">
          <a class="nav-link" href="index.html" > 
               <i class="far fa-share-square"></i>
               <span class="ml-1">My share</span></a>
     </li>

     <div class="card">
          <div class="card-body">Basic card</div>
     </div>
</ul>
<!-- End of Sidebar -->