<h1 class="fontone white mt-4">Why Systems Ipsum?</h1>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
     <div>
          <h3 class="fontone">Systems Ipsum got your back.</h3>
          <h4 class="fonttwo">
               Our platform it's the best place to work and improve your coding
               skills.
          </h4>
     </div>
     <img class="d-none d-md-block" src="assets/img/index/2.png" style="width: 35%" alt="" />
</div>


<div class="d-sm-flex align-items-center justify-content-between mb-4">
     <img class="d-none d-md-block" src="assets/img/index/4.png" style="width: 35%" alt="" />
     <div>
          <h3 class="fontone">Systems Ipsum got your back.</h3>
          <h4 class="fonttwo">
               Our platform it's the best place to work and improve your coding
               skills.
          </h4>
     </div>
</div>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
     <div>
          <h3 class="fontone">Systems Ipsum got your back.</h3>
          <h4 class="fonttwo">
               Our platform it's the best place to work and improve your coding
               skills.
          </h4>
     </div>
     <img class="d-none d-md-block mr-4" src="assets/img/index/6.png" style="width: 30%" alt="" />
</div>