<h1 class="fontone white mt-4">Why Systems Ipsum?</h1>
<div class="d-sm-flex align-items-center justify-content-between">
     <div>
          <h3 class="fontone white">Code and visualize</h3>
          <br>
          <h4 class="fonttwo">
               Code your project and visualize the result all in once. Our platform offers you the comfort of have it
               all it the
               same space this way you can see you advances step by step and modificate them if you feel like it.
          </h4>
     </div>
     <img class="d-none d-md-block" src="assets/img/index/2.png" style="width: 30%" alt="" />
</div>


<div class="d-sm-flex align-items-center justify-content-between ">
     <img class="d-none d-md-block" src="assets/img/index/4.png" style="width: 35%" alt="" />
     <div>
          <h3 class="fontone white">Interactive interface</h3>
          <br>
          <h4 class="fonttwo">
               Edit your proyect in an interactive code editor. With syntax coloring to help you make your code more
               readable and an
               interface easy to use.
          </h4>
     </div>
</div>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
     <div>
          <h3 class="fontone white">Storage your project and share it</h3>
          <br>
          <h4 class="fonttwo">
               Save your work in the platform, this way you can work in your code in any time and you don-t have to worry 
               about losing your advances. Plus you can share
               them with the people that you allow. 
          </h4>
     </div>
     <img class="d-none d-md-block mr-4" src="assets/img/index/6.png" style="width: 27%" alt="" />
</div>