<div class="d-sm-flex align-items-center justify-content-between mt-5 mb-4">
     <div class="card mr-2 ml-2 mb-4 cardcode">
          <div class="card-body">
               <img class="align-items-center" src="assets/img/index/cards/3.png" style="max-width: 100%" alt="" />
               <h4 class="card-title white fontone" style="align-content: center">
                    CODE
               </h4>
               <p class="card-text fonttwo">
                    Build, structure and code your proyects in a quick and easy way
               </p>
          </div>
     </div>
     <div class="card mr-2 ml-2 mb-4 cardstore">
          <div class="card-body">
               <img class="align-items-center" src="assets/img/index/cards/4.png" style="max-width: 100%" alt="" />
               <h4 class="card-title white fontone" style="align-content: center">
                    STORE
               </h4>
               <p class="card-text fonttwo">
                    Keep your projects stored at your disposal at any time
               </p>
          </div>
     </div>
     <div class="card mr-2 ml-2 mb-4 cardshare">
          <div class="card-body">
               <img class="align-items-center" src="assets/img/index/cards/1.png" style="max-width: 100%" alt="" />
               <h4 class="card-title white fontone" style="align-content: center">
                    SHARE
               </h4>
               <p class="card-text fonttwo">
                    Share your files and folders with your friends or coworkers
               </p>
          </div>
     </div>
     <div class="card mr-2 ml-2 mb-4 cardsave">
          <div class="card-body">
               <img class="align-items-center" src="assets/img/index/cards/3.png" style="max-width: 100%" alt="" />
               <h4 class="card-title white fontone" style="align-content: center">
                    SAVE
               </h4>
               <p class="card-text fonttwo">
                    Save your proyects in offline and work on them anywhere
               </p>
          </div>
     </div>
</div>