<title>{{ title }}</title>
<!-- /<app-top-bar-profile></app-top-bar-profile> -->
<app-top-bar-project></app-top-bar-project>

<div id="wrapper">

     <!-- Content Wrapper -->
     <div id="content-wrapper" class="d-flex flex-column" style="background-color: #131417;">

          <!-- Main Content -->
          <div id="content" class="mt-4" align="center">
               <div id="row">

                    <div align="left">
                         <h6 class="fonttwo"  style=" margin-left: 13rem; display: inline; color:#B564D4;">HTML
                         </h6>
                         <h6 class="fonttwo" style=" margin-left: 28rem; display: inline; color:#C2F56E;">CSS</h6>
                    </div>

                    <textarea class="ml-3 code" id="editorhtml" style="border-color: #B564D4;" rows="4" cols="50">

                    </textarea>

                    <textarea class="ml-3 code" id="editorcss" style="border-color: #C2F56E;" rows="4" cols="50">

                    </textarea>

                    <br>
                    <div align="left">
                         <h6 class="fonttwo"  style=" margin-left: 13rem; display: inline; color:#E969AB;">JAVASCRIPT
                         </h6>
                         <h6 class="fonttwo" style=" margin-left: 25rem; display: inline; color:#F7FE72;">RESULT</h6>
                    </div>



                    <textarea class=" ml-3 code" id="editorjs" style="border-color: #E969AB;" rows="4" cols="50">

                    </textarea>
               <!--    <textarea class=" ml-3 code" style="border-color: #F7FE72;" rows="4" cols="50">

                    </textarea>-->

                    <iframe id="result" name="CodePen" src="http://localhost:4200/project" 
                    class="result-iframe iframe-empty ml-3 code" style="border-color: #F7FE72;">
                    </iframe>


               </div>
               <!-- End of Main Content -->




               <!-- Footer -->
               <app-footer></app-footer>
               <!-- End of Footer -->

          </div>
          <!-- End of Content Wrapper -->

     </div>