<title>{{ title }}</title>
<!-- /<app-top-bar-profile></app-top-bar-profile> -->
<app-top-bar-project></app-top-bar-project>

<div id="wrapper">

     <!-- Content Wrapper -->
     <div id="content-wrapper" class="d-flex flex-column" style="background-color: #131417;">

          <!-- Main Content -->
          <div id="content">
               <textarea class="mt-4 ml-3" style="resize: none; background-color: blue;" id="w3review" name="w3review" rows="4" cols="50">
                   
                    </textarea>


          </div>
          <!-- End of Main Content -->

          <!-- Footer -->
          <app-footer></app-footer>
          <!-- End of Footer -->

     </div>
     <!-- End of Content Wrapper -->

</div>