<title>{{ title }}</title>
<!-- /<app-top-bar-profile></app-top-bar-profile> -->
<app-top-bar-project></app-top-bar-project>

<div id="wrapper">

     <!-- Content Wrapper -->
     <div id="content-wrapper" class="d-flex flex-column" style="background-color: #131417;">

          <!-- Main Content -->
          <div id="content" class="mt-4" align="center">
               <h6>HTML</h6>
               <textarea class="mt-4 ml-3 code" style="border-color: #B564D4;"  rows="4" cols="50">
                    
                    </textarea>
               <textarea class="mt-4 ml-3 code" style="border-color: #C2F56E;"  rows="4" cols="50">

                    </textarea>
               <br>
               <textarea class="mt-4 ml-3 code" style="border-color: #E969AB;" rows="4" cols="50">

</textarea>
               <textarea class="mt-4 ml-3 code" style="border-color: #F7FE72;" rows="4" cols="50">

</textarea>


          </div>
          <!-- End of Main Content -->

          <!-- Footer -->
          <app-footer></app-footer>
          <!-- End of Footer -->

     </div>
     <!-- End of Content Wrapper -->

</div>