<title>{{ title }}</title>
<!-- /<app-top-bar-profile></app-top-bar-profile> -->
<app-top-bar-profile></app-top-bar-profile>

<div id="wrapper">
    <app-sidebar></app-sidebar>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column" style="background-color: #131417;">

        <!-- Main Content -->
        <div id="content">



        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <app-footer></app-footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>