<title>{{ title }}</title>

<body>
     <div style="background-image:url('assets/img/Fondo.png'); background-size:cover; " >
          <!-- Outer Row -->
          <div class="row justify-content-center">
               <div class="col-xl-6 col-lg-10 col-md-9">

                    <div class="card o-hidden border-0 shadow-lg my-5 loginForm">
                         <div class="card-body p-0">
                              <!-- Nested Row within Card Body -->
                              <div class="row">

                                   <div class=" col-s-3 col-md-9 col-lg-10 col-xl-12">
                                        <div class="p-5">
                                             <div class="text-center">
                                                  <a href="#"><img src="assets/img/Logo Systems Ipsum (Blanco)2.png"
                                                            alt=""></a>
                                             </div>
                                             <hr>
                                             <div class="text-center">
                                                  <h1 class=" h4  mb-4 fonttwo" style="color:#fff">Welcome Back!</h1>
                                             </div>
                                             <hr>
                                             <form class="user">
                                                  <div class="form-group">
                                                       <input type="email"
                                                            class="form-control form-control-user loginIn fonttwo"
                                                            id="exampleInputEmail" aria-describedby="emailHelp"
                                                            placeholder="Enter Email Address...">
                                                  </div>
                                                  <div class="form-group">
                                                       <input type="password"
                                                            class="form-control form-control-user loginIn fonttwo"
                                                            id="exampleInputPassword" placeholder="Password">
                                                  </div>
                                                  <hr>
                                                  <a href="index.html" class="btn btn-user btn-block fonttwo logButton"
                                                       style="color: white;">
                                                       Login
                                                  </a>
                                                  <div class="text-center">
                                                       <h5 class="small fonttwo mt-2" style="color: white;">OR</h5>
                                                  </div>
                                                  <a href="index.html"
                                                       class="btn btn-facebook btn-user btn-block fonttwo">
                                                       <i class="fab fa-facebook-f"></i>Login with Facebook
                                                  </a>
                                             </form>
                                             <br>
                                             <div class="text-center">
                                                  <a class="small fonttwo" href="" style="color: white;">Need an
                                                       account? Sign Up Here</a>
                                             </div>
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>

</body>