<nav class="navbar navbar-expand   topbar mb-4 static-top shadow"
style="background-color:#2C303A;">

<!-- Sidebar Toggle (Topbar) -->


<!-- Topbar Search -->
<div class="d-none d-sm-inline-block  mr-auto ml-md-3 my-2 my-md-0 mw-100 ">
    <div class="input-group">
        <img src="assets/img/Logo Systems Ipsum (Blanco)2.png" style="width:60%;" alt="">

    </div>
</div>

<!-- Topbar Navbar -->
<div class="navbar-nav ml-auto">

    <!-- Nav Item - Search Dropdown (Visible Only XS) -->

    <!-- Dropdown - Messages -->
    <button type="button" class="btn mr-2 butsig fonttwo">Sign
        Up</button>
    <button type="button" class="btn butlog fonttwo " >Log
        In</button>


</div>

</nav>
