<nav class="navbar navbar-expand   topbar  static-top shadow" style="background-color:#2C303A;">

   <!-- Sidebar Toggle (Topbar) -->


   <!-- Topbar Search -->
   <div class="d-none d-sm-inline-block  mr-auto ml-md-3 my-2 my-md-0 mw-100 ">
      <div class="input-group">
         <a href="#"> <img src="assets/img/Logo Systems Ipsum (Blanco)2.png" style="width:60%;" alt=""> </a>
      </div>
   </div>

   <!-- Topbar Navbar -->
   <div class="navbar-nav ml-auto">
      <button type="button" onclick="location.href='plan'"  class="btn  mr-2 butsave fonttwo">Sign
         Up</button>
     <button type="button" onclick="location.href='login'"   class="btn  butrun fonttwo " >Log
         In</button>

      <a class="icono" href=""> <i class="far fa-user fa-2x ml-3 mr-3"></i> </a>


   </div>

</nav>