<div class="d-sm-flex align-items-center justify-content-between mt-4">
     <div>
          <h2 class="fontone white mt-10">About Us</h2>
          <p class="fonttwo">
               Systems Ipsum is a platform made by and for programmers that helps
               you structure, code and visualize your projects. Founded in 2021,
               our platform was designed to make project management easier and
               more practical for our users. We not only offer a code editor,
               syntax highlighting and creating snippets, but also an environment
               where our users can store and share their work. also, thinking
               about accessibility to internet networks, we designed an offline
               project system where you can access these at any time, place and
               circumstance.
          </p>
     </div>
</div>